.home
  background url('/images/top-image.jpg') no-repeat
  background-size cover
  background-attachment fixed

  .top-image
    height 300px
  
  .content
    background white

    ul.recent-posts
      padding-left 70px
      margin-bottom 0px

      li
        position relative
        list-style-type none

        .author-image
          position absolute
          top 6px
          left: -57px
          width 45px
          height 45px
          border-radius 22px