p create a new post

form(action='/blog/create-post', method='post')
    div
        label Title
        input(type='text', name='title')
    
    div
        label Body
        textarea(name='body')
        
    div
        input(type='submit', value='create')