doctype html
html
  head
    title petertflem

    link(rel='stylesheet' href='/stylesheets/css/vendor/bootstrap/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/css/main.css')

    body
      div.container
        div.row
          header.col-sm-12
            nav
              ul.nav.nav-pills
                li
                  a(ui-sref='home') Home
                li
                  a(ui-sref='blog') Blog
                li
                  a(ui-sref='admin') Admin
                li
                  a(ui-sref='projects') Projects
      
      div.content
        ui-view

      div.container.footer-wrapper
        div.row
          div.col-sm-12
            footer
              p Some footer information

      script(data-main='/javascript/require-config' src='/javascript/vendor/requirejs/require.js')