doctype html
html
    head
        title petertflem
        
        link(rel='stylesheet' href='/stylesheets/css/vendor/bootstrap.css')
        link(rel='stylesheet' href='/stylesheets/css/main.css')
        
    body
        header
            nav
                ul
                    li
                        a(ui-sref='blog') Home
                    li
                        a(ui-sref='admin') Admin
                    li
                        a(ui-sref='projects') Projects
    
        <ui-view></ui-view>
        
        footer
            p Some footer information
        
        script(data-main='/javascript/require-config' src='/javascript/vendor/require.js')