div.container
    div.row
        div.col-sm-4
            a(ui-sref='post.new') New
            ul.post-list.posts-overview
                li(ng-repeat='post in posts')
                    a(ng-href='/admin/posts/{{post._id}}')
                        div.post-summary
                            h3.title {{post.title}}
                            div.meta by {{post.author.name}} at {{post.date | date}}
                    
                    a(ui-sref='post.edit({ id: post._id })') Edit
        
        div.col-sm-8
            ui-view