div.container
    div.row
        p edit post

        form(action='/post/save', method='post')
            div
                label Title
                input(type='text', name='title')

            div
                label Body
                textarea(name='body')

            div
                input(type='submit', value='create')