div.container.post-edit
    div.row
        div.col-sm-6
            input.title(ng-model='post.title')
            textarea.body(ng-model='post.body')
            
        div.col-sm-6
            div#save-status-feedback.alert
            h1.preview.title {{ post.title }}
            div.preview.body(ng-bind-html='post.body | markdown')