div.row
    div.container
        h1 {{post.title}} 
        div by {{post.author.forename}} {{post.author.surename}} at {{post.date | date}}
        hr
        div(ng-bind-html='post.body | markdown')