div.container
    div.row
        div.col-xs-12
            h2 Newest entries

            ul.post-list
                li(ng-repeat='post in posts')
                    div.post-summary
                        a(ui-sref='view-post')
                            h3.title {{post.title}}
                        div.meta by {{post.author.name}} at {{post.date | date : 'd. MMM, h:mm a'}}